<form method="POST" action="/select_station" id="form">
	<div class="station-list">
		{% for station in stations %}
			<div class="station-item hoverable">
				<input type="radio" onchange="this.form.submit()" id="{{ station['gtfsIds'] }}" name="station_gtfsid" value="{{ station['gtfsIds'] }}">
				<label for="{{ station['gtfsIds'] }}">
					<strong>{{ station['altIdosName'] }}</strong> - Platform {{ station['platform'] }}<br>
					<small>
						Linky:
						{% for l in station['lines'] %}
							<b>{{ l[0] }}</b> > {{ l[1] }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</small>
				</label>
			</div>
		{% endfor %}
		<button type="button" class="btn btn-secondary d-block mx-auto mt-2" onclick="refreshNearbyStops(true)">Více</button>
	</div>
</form>
