<form method="GET" action="/select_station" id="form">
	<div class="station-list">
		{% for station in stations %}
			<div class="station-item hoverable">
				<input type="radio" class="d-none" onchange="this.form.submit()" id="{{ station['gtfsIds'] }}" name="station_gtfsid" value="{{ station['gtfsIds'] }}">
				<label for="{{ station['gtfsIds'] }}" class="d-block p-2 w-100">
					<strong>{{ station['altIdosName'] }}</strong> - Platform {{ station['platform'] }}<br>
					<small>
						Linky:
						{% for dest, lines in station['lines'].items() %}
							{% for line in lines %}
								<b class="line-type-{{ line[1] }} {{ 'regional' if (line[0]|int) > 250 else ''}}">{{ line[0] }}</b>{% if not loop.last %}, {% endif %}
							{% endfor %}
							<i class="bi bi-arrow-right"></i> {{ dest }}{% if not loop.last %} • {% endif %}
						{% endfor %}
					</small>
				</label>
			</div>
		{% endfor %}
		{% if num_matching_stations|default(100) > stations|length %}
			<button type="button" class="more-btn btn btn-outline-secondary d-block mx-auto mt-1 btn-sm"
				{% if search_query == "" %}
					onclick="refreshNearbyStops(true)"
				{% else %}
					onclick="
						const params = new URLSearchParams(window.location.search);
						const currentCount = parseInt(params.get('count') || 20);
						params.set('count', currentCount + 10);
						window.location.search = params.toString();
					"
				{% endif %}
				>
				<i class="bi bi-plus-circle me-1"></i>Více
			</button>
		{% endif %}
	</div>
</form>
