<form method="GET" action="/select_station">
	<style>
		.premade-stop-name {
			font-weight: bold;
			text-align: center;
		}
	</style>
	<div class="station-list">
		<div class="station-item">
			<div class="premade-stop-name">Dvořákova</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U3239Z2P">
					⇒&nbsp;Odra
					<b><i>202</i></b>
				</button>
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U3239Z1P">
					⇒&nbsp;Kobylisy
					<b><i>169</i></b>
				</button>
			</div>
		</div>
		
		<div class="station-item">
			<div class="premade-stop-name">Sídliště čimice</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U949Z3P">
					⇒&nbsp;Kobylisy
					<b><i>152, 145</i></b>
				</button>
			</div>
			
		</div>
		
		<div class="station-item">
			<div class="premade-stop-name">Odra</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U511Z2P">
					⇒&nbsp;Čimice
				</button>
				<button type="submit" class="platform-direction direction-unused" name="station_gtfsid" value="U511Z1P">
					⇒&nbsp;Poliklinika Mazurská
				</button>
			</div>
		</div>

		<div class="station-item">
			<div class="premade-stop-name">Vozovna Kobylisy</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U864Z11P">
					⇒&nbsp;Chabry
					<b><i>169, 145</i></b>
				</button>
				<button type="submit" class="platform-direction direction-unused" name="station_gtfsid" value="U864Z9P">
					⇒&nbsp;Kobylisy
				</button>
			</div>
		</div>

		<div class="station-item">
			<div class="premade-stop-name">⇒ Čimice</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U806Z1P">
					⦿&nbsp;Řepínská
					<b><i>152</i></b>
				</button>
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U330Z1P">
					⦿&nbsp;Libeňská
					<b><i>145</i></b>
				</button>
			</div>
		</div>
					
		<div class="station-item">
			<div class="premade-stop-name">Čimický háj</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U544Z1P">
					⇒&nbsp;Sídliště Čimice
					<b><i>152</i></b>
				</button>
				<button type="submit" class="platform-direction direction-unused" name="station_gtfsid" value="U544Z2P">
					⇒&nbsp;Kobylisy
				</button>
			</div>
		</div>
		
		<div class="station-item">
			<div class="premade-stop-name">Krakov</div>
			<div class="direction-buttons">
				<button type="submit" class="platform-direction" name="station_gtfsid" value="U371Z2P">
					⇒&nbsp;Čimice
					<b><i>202</i></b>
				</button>
			</div>
		</div>
	</div>
	<!-- <button type="submit" class="btn btn-success mt-3">Potvrdit výběr</button> -->
</form>
